/* gogole fonts importing on to stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*setting my wildcard selector eith an asterisk*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styling for the body of the html*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
}


header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    letter-spacing: 2px;
}



main {
    background-color: blueviolet;
    flex: 1 0 auto;
    font-family: 'PT Sans', sans-serif;
    margin-top: 101px;
}


#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

footer {
    background-color: #ffffff;
}